## Data Preparation

### In this notebook we will prepare our data for our search function to use.
### We stored our data in a csv file
 diamonds_dataset.csv

In [2]:
# Import the needed modules...
import pandas as pd

## Data Engineering
 Get the data into dataframes

In [3]:
df1=pd.read_csv('diamonds_dataset.csv') # Creating data frame

In [4]:
df1

,id,url,shape,price,carat,cut,color,clarity,report,type,date_fetched
0,10086429,https://www.brilliantearth.com//loose-diamonds...,Round,400,0.30,Very Good,J,SI2,GIA,natural,2020-11-29 12-26 PM
1,10016334,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.31,Ideal,I,SI1,GIA,natural,2020-11-29 12-26 PM
2,9947216,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.30,Ideal,I,VS2,GIA,natural,2020-11-29 12-26 PM
3,10083437,https://www.brilliantearth.com//loose-diamonds...,Round,400,0.30,Ideal,I,SI2,GIA,natural,2020-11-29 12-26 PM
4,9946136,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.30,Ideal,I,SI1,GIA,natural,2020-11-29 12-26 PM
...,...,...,...,...,...,...,...,...,...,...,...
119302,10081678,https://www.brilliantearth.com//lab-diamonds-s...,Round,99040,5.71,Super Ideal,D,VVS2,GCAL,lab,2020-11-29 12-26 PM
119303,9521564,https://www.brilliantearth.com//lab-diamonds-s...,Cushion,107330,15.32,Very Good,G,SI2,IGI,lab,2020-11-29 12-26 PM
119304,9896730,https://www.brilliantearth.com//lab-diamonds-s...,Cushion,110110,10.05,Ideal,D,SI2,IGI,lab,2020-11-29 12-26 PM
119305,9756570,https://www.brilliantearth.com//lab-diamonds-s...,Oval,126030,10.33,Fair,D,VS2,IGI,lab,2020-11-29 12-26 PM
119306,9293400,https://www.brilliantearth.com//lab-diamonds-s...,Cushion,141710,10.25,Good,E,VS1,IGI,lab,2020-11-29 12-26 PM

In [5]:
df2=df1.head(150) # Taking first 150 rows of the dataset for simplicity

In [6]:
df2

,id,url,shape,price,carat,cut,color,clarity,report,type,date_fetched
0,10086429,https://www.brilliantearth.com//loose-diamonds...,Round,400,0.30,Very Good,J,SI2,GIA,natural,2020-11-29 12-26 PM
1,10016334,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.31,Ideal,I,SI1,GIA,natural,2020-11-29 12-26 PM
2,9947216,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.30,Ideal,I,VS2,GIA,natural,2020-11-29 12-26 PM
3,10083437,https://www.brilliantearth.com//loose-diamonds...,Round,400,0.30,Ideal,I,SI2,GIA,natural,2020-11-29 12-26 PM
4,9946136,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.30,Ideal,I,SI1,GIA,natural,2020-11-29 12-26 PM
...,...,...,...,...,...,...,...,...,...,...,...
145,10084285,https://www.brilliantearth.com//loose-diamonds...,Round,450,0.30,Very Good,J,SI1,GIA,natural,2020-11-29 12-26 PM
146,10086206,https://www.brilliantearth.com//loose-diamonds...,Round,450,0.30,Very Good,J,SI2,GIA,natural,2020-11-29 12-26 PM
147,10085674,https://www.brilliantearth.com//loose-diamonds...,Round,450,0.30,Ideal,E,SI2,GIA,natural,2020-11-29 12-26 PM
148,10086650,https://www.brilliantearth.com//loose-diamonds...,Round,450,0.30,Very Good,I,SI2,GIA,natural,2020-11-29 12-26 PM
149,10086497,https://www.brilliantearth.com//loose-diamonds...,Round,450,0.30,Ideal,J,SI1,GIA,natural,2020-11-29 12-26 PM

In [7]:
# We dropped unnecessary attributes from our dataset
df3=df2.drop(['url','date_fetched','clarity','report'],axis=1)

In [8]:
df3

           id    shape  price  carat        cut color     type
0    10086429    Round    400   0.30  Very Good     J  natural
1    10016334  Emerald    400   0.31      Ideal     I  natural
2     9947216  Emerald    400   0.30      Ideal     I  natural
3    10083437    Round    400   0.30      Ideal     I  natural
4     9946136  Emerald    400   0.30      Ideal     I  natural
..        ...      ...    ...    ...        ...   ...      ...
145  10084285    Round    450   0.30  Very Good     J  natural
146  10086206    Round    450   0.30  Very Good     J  natural
147  10085674    Round    450   0.30      Ideal     E  natural
148  10086650    Round    450   0.30  Very Good     I  natural
149  10086497    Round    450   0.30      Ideal     J  natural

[150 rows x 7 columns]

In [9]:
# Setting the index as id
df3.set_index('id',inplace=True)

In [10]:
df3

            shape  price  carat        cut color     type
id
10086429    Round    400   0.30  Very Good     J  natural
10016334  Emerald    400   0.31      Ideal     I  natural
9947216   Emerald    400   0.30      Ideal     I  natural
10083437    Round    400   0.30      Ideal     I  natural
9946136   Emerald    400   0.30      Ideal     I  natural
...           ...    ...    ...        ...   ...      ...
10084285    Round    450   0.30  Very Good     J  natural
10086206    Round    450   0.30  Very Good     J  natural
10085674    Round    450   0.30      Ideal     E  natural
10086650    Round    450   0.30  Very Good     I  natural
10086497    Round    450   0.30      Ideal     J  natural

[150 rows x 6 columns]

In [11]:
# We are getting the information about our dataset i.e. column names,count,data type of each column etc.
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 10086429 to 10086497
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   shape   150 non-null    object
 1   price   150 non-null    int64
 2   carat   150 non-null    float64
 3   cut     150 non-null    object
 4   color   150 non-null    object
 5   type    150 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 8.2+ KB

In [12]:
df3['cut']

id
10086429    Very Good
10016334        Ideal
9947216         Ideal
10083437        Ideal
9946136         Ideal
              ...
10084285    Very Good
10086206    Very Good
10085674        Ideal
10086650    Very Good
10086497        Ideal
Name: cut, Length: 150, dtype: object

In [13]:
df3

            shape  price  carat        cut color     type
id
10086429    Round    400   0.30  Very Good     J  natural
10016334  Emerald    400   0.31      Ideal     I  natural
9947216   Emerald    400   0.30      Ideal     I  natural
10083437    Round    400   0.30      Ideal     I  natural
9946136   Emerald    400   0.30      Ideal     I  natural
...           ...    ...    ...        ...   ...      ...
10084285    Round    450   0.30  Very Good     J  natural
10086206    Round    450   0.30  Very Good     J  natural
10085674    Round    450   0.30      Ideal     E  natural
10086650    Round    450   0.30  Very Good     I  natural
10086497    Round    450   0.30      Ideal     J  natural

[150 rows x 6 columns]

In [14]:
df3.loc[10084285] # Here we are acessing the entire row with the help of id attribute

shape        Round
price          450
carat          0.3
cut      Very Good
color            J
type       natural
Name: 10084285, dtype: object

In [15]:
df3.reset_index(inplace=True)

In [16]:
df3

           id    shape  price  carat        cut color     type
0    10086429    Round    400   0.30  Very Good     J  natural
1    10016334  Emerald    400   0.31      Ideal     I  natural
2     9947216  Emerald    400   0.30      Ideal     I  natural
3    10083437    Round    400   0.30      Ideal     I  natural
4     9946136  Emerald    400   0.30      Ideal     I  natural
..        ...      ...    ...    ...        ...   ...      ...
145  10084285    Round    450   0.30  Very Good     J  natural
146  10086206    Round    450   0.30  Very Good     J  natural
147  10085674    Round    450   0.30      Ideal     E  natural
148  10086650    Round    450   0.30  Very Good     I  natural
149  10086497    Round    450   0.30      Ideal     J  natural

[150 rows x 7 columns]

In [17]:
df3.columns

Index(['id', 'shape', 'price', 'carat', 'cut', 'color', 'type'], dtype='object')

In [18]:
d=df3.columns.tolist()

In [19]:
d

['id', 'shape', 'price', 'carat', 'cut', 'color', 'type']