## Data Preparation

### In this notebook we will prepare our data for our search function to use.
### We stored our data in a csv file
 diamonds_dataset.csv

In [23]:
# Import the needed modules...
import pandas as pd

## Data Engineering
 Get the data into dataframes

In [24]:
df1=pd.read_csv('diamonds_dataset.csv') # Creating data frame

In [25]:
df1

,id,url,shape,price,carat,cut,color,clarity,report,type,date_fetched
0,10086429,https://www.brilliantearth.com//loose-diamonds...,Round,400,0.30,Very Good,J,SI2,GIA,natural,2020-11-29 12-26 PM
1,10016334,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.31,Ideal,I,SI1,GIA,natural,2020-11-29 12-26 PM
2,9947216,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.30,Ideal,I,VS2,GIA,natural,2020-11-29 12-26 PM
3,10083437,https://www.brilliantearth.com//loose-diamonds...,Round,400,0.30,Ideal,I,SI2,GIA,natural,2020-11-29 12-26 PM
4,9946136,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.30,Ideal,I,SI1,GIA,natural,2020-11-29 12-26 PM
...,...,...,...,...,...,...,...,...,...,...,...
119302,10081678,https://www.brilliantearth.com//lab-diamonds-s...,Round,99040,5.71,Super Ideal,D,VVS2,GCAL,lab,2020-11-29 12-26 PM
119303,9521564,https://www.brilliantearth.com//lab-diamonds-s...,Cushion,107330,15.32,Very Good,G,SI2,IGI,lab,2020-11-29 12-26 PM
119304,9896730,https://www.brilliantearth.com//lab-diamonds-s...,Cushion,110110,10.05,Ideal,D,SI2,IGI,lab,2020-11-29 12-26 PM
119305,9756570,https://www.brilliantearth.com//lab-diamonds-s...,Oval,126030,10.33,Fair,D,VS2,IGI,lab,2020-11-29 12-26 PM
119306,9293400,https://www.brilliantearth.com//lab-diamonds-s...,Cushion,141710,10.25,Good,E,VS1,IGI,lab,2020-11-29 12-26 PM

In [26]:
df2=df1.head(150) # Taking first 150 rows of the dataset for simplicity

In [27]:
df2

,id,url,shape,price,carat,cut,color,clarity,report,type,date_fetched
0,10086429,https://www.brilliantearth.com//loose-diamonds...,Round,400,0.30,Very Good,J,SI2,GIA,natural,2020-11-29 12-26 PM
1,10016334,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.31,Ideal,I,SI1,GIA,natural,2020-11-29 12-26 PM
2,9947216,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.30,Ideal,I,VS2,GIA,natural,2020-11-29 12-26 PM
3,10083437,https://www.brilliantearth.com//loose-diamonds...,Round,400,0.30,Ideal,I,SI2,GIA,natural,2020-11-29 12-26 PM
4,9946136,https://www.brilliantearth.com//loose-diamonds...,Emerald,400,0.30,Ideal,I,SI1,GIA,natural,2020-11-29 12-26 PM
...,...,...,...,...,...,...,...,...,...,...,...
145,10084285,https://www.brilliantearth.com//loose-diamonds...,Round,450,0.30,Very Good,J,SI1,GIA,natural,2020-11-29 12-26 PM
146,10086206,https://www.brilliantearth.com//loose-diamonds...,Round,450,0.30,Very Good,J,SI2,GIA,natural,2020-11-29 12-26 PM
147,10085674,https://www.brilliantearth.com//loose-diamonds...,Round,450,0.30,Ideal,E,SI2,GIA,natural,2020-11-29 12-26 PM
148,10086650,https://www.brilliantearth.com//loose-diamonds...,Round,450,0.30,Very Good,I,SI2,GIA,natural,2020-11-29 12-26 PM
149,10086497,https://www.brilliantearth.com//loose-diamonds...,Round,450,0.30,Ideal,J,SI1,GIA,natural,2020-11-29 12-26 PM

In [28]:
# We dropped unnecessary attributes from our dataset
df3=df2.drop(['url','date_fetched','clarity','report'],axis=1)

In [29]:
df3

           id    shape  price  carat        cut color     type
0    10086429    Round    400   0.30  Very Good     J  natural
1    10016334  Emerald    400   0.31      Ideal     I  natural
2     9947216  Emerald    400   0.30      Ideal     I  natural
3    10083437    Round    400   0.30      Ideal     I  natural
4     9946136  Emerald    400   0.30      Ideal     I  natural
..        ...      ...    ...    ...        ...   ...      ...
145  10084285    Round    450   0.30  Very Good     J  natural
146  10086206    Round    450   0.30  Very Good     J  natural
147  10085674    Round    450   0.30      Ideal     E  natural
148  10086650    Round    450   0.30  Very Good     I  natural
149  10086497    Round    450   0.30      Ideal     J  natural

[150 rows x 7 columns]

In [30]:
# Setting the index as id
df3.set_index('id',inplace=True)

In [31]:
df3

            shape  price  carat        cut color     type
id
10086429    Round    400   0.30  Very Good     J  natural
10016334  Emerald    400   0.31      Ideal     I  natural
9947216   Emerald    400   0.30      Ideal     I  natural
10083437    Round    400   0.30      Ideal     I  natural
9946136   Emerald    400   0.30      Ideal     I  natural
...           ...    ...    ...        ...   ...      ...
10084285    Round    450   0.30  Very Good     J  natural
10086206    Round    450   0.30  Very Good     J  natural
10085674    Round    450   0.30      Ideal     E  natural
10086650    Round    450   0.30  Very Good     I  natural
10086497    Round    450   0.30      Ideal     J  natural

[150 rows x 6 columns]

In [32]:
# We are getting the information about our dataset i.e. column names,count,data type of each column etc.
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 10086429 to 10086497
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   shape   150 non-null    object
 1   price   150 non-null    int64
 2   carat   150 non-null    float64
 3   cut     150 non-null    object
 4   color   150 non-null    object
 5   type    150 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 8.2+ KB

In [33]:
df3['cut']

id
10086429    Very Good
10016334        Ideal
9947216         Ideal
10083437        Ideal
9946136         Ideal
              ...
10084285    Very Good
10086206    Very Good
10085674        Ideal
10086650    Very Good
10086497        Ideal
Name: cut, Length: 150, dtype: object

In [34]:
df3

            shape  price  carat        cut color     type
id
10086429    Round    400   0.30  Very Good     J  natural
10016334  Emerald    400   0.31      Ideal     I  natural
9947216   Emerald    400   0.30      Ideal     I  natural
10083437    Round    400   0.30      Ideal     I  natural
9946136   Emerald    400   0.30      Ideal     I  natural
...           ...    ...    ...        ...   ...      ...
10084285    Round    450   0.30  Very Good     J  natural
10086206    Round    450   0.30  Very Good     J  natural
10085674    Round    450   0.30      Ideal     E  natural
10086650    Round    450   0.30  Very Good     I  natural
10086497    Round    450   0.30      Ideal     J  natural

[150 rows x 6 columns]

In [35]:
df3.loc[10084285] # Here we are acessing the entire row with the help of id attribute

shape        Round
price          450
carat          0.3
cut      Very Good
color            J
type       natural
Name: 10084285, dtype: object

In [36]:
df3.reset_index(inplace=True)

In [37]:
df3

           id    shape  price  carat        cut color     type
0    10086429    Round    400   0.30  Very Good     J  natural
1    10016334  Emerald    400   0.31      Ideal     I  natural
2     9947216  Emerald    400   0.30      Ideal     I  natural
3    10083437    Round    400   0.30      Ideal     I  natural
4     9946136  Emerald    400   0.30      Ideal     I  natural
..        ...      ...    ...    ...        ...   ...      ...
145  10084285    Round    450   0.30  Very Good     J  natural
146  10086206    Round    450   0.30  Very Good     J  natural
147  10085674    Round    450   0.30      Ideal     E  natural
148  10086650    Round    450   0.30  Very Good     I  natural
149  10086497    Round    450   0.30      Ideal     J  natural

[150 rows x 7 columns]

In [38]:
df3.columns

Index(['id', 'shape', 'price', 'carat', 'cut', 'color', 'type'], dtype='object')

In [39]:
d=df3.columns.tolist()

In [40]:
d

['id', 'shape', 'price', 'carat', 'cut', 'color', 'type']

## Data Base Search

In [41]:
df3

           id    shape  price  carat        cut color     type
0    10086429    Round    400   0.30  Very Good     J  natural
1    10016334  Emerald    400   0.31      Ideal     I  natural
2     9947216  Emerald    400   0.30      Ideal     I  natural
3    10083437    Round    400   0.30      Ideal     I  natural
4     9946136  Emerald    400   0.30      Ideal     I  natural
..        ...      ...    ...    ...        ...   ...      ...
145  10084285    Round    450   0.30  Very Good     J  natural
146  10086206    Round    450   0.30  Very Good     J  natural
147  10085674    Round    450   0.30      Ideal     E  natural
148  10086650    Round    450   0.30  Very Good     I  natural
149  10086497    Round    450   0.30      Ideal     J  natural

[150 rows x 7 columns]

In [42]:
# In this section we are creating the list of id of diamond having the features of diamond.
id_list=df3.id.tolist()
id_list

[10086429,
 10016334,
 9947216,
 10083437,
 9946136,
 10070154,
 10086507,
 10083288,
 10090935,
 9943628,
 10055476,
 10086105,
 10082791,
 10084879,
 10087558,
 9998192,
 10083170,
 10084818,
 10048801,
 10018558,
 10087239,
 9926525,
 10085677,
 10078896,
 9926562,
 10084000,
 10083255,
 9968964,
 10086394,
 9943656,
 10085531,
 10085242,
 10017664,
 10018977,
 9997898,
 10083855,
 10085658,
 9946103,
 10088017,
 9944355,
 9944542,
 9946958,
 9947491,
 10084951,
 9967595,
 9946002,
 10010529,
 10083303,
 10086230,
 10082181,
 10082715,
 10086414,
 10021869,
 10082854,
 10017659,
 10021227,
 10085576,
 10086541,
 10086607,
 10083440,
 10081905,
 10083628,
 10084616,
 10085191,
 10086398,
 10069564,
 10085647,
 9943802,
 10086613,
 10017866,
 10035452,
 9981968,
 9946479,
 10061364,
 10082500,
 10053036,
 9989482,
 10086205,
 10082162,
 10084578,
 10086346,
 10091308,
 9928413,
 9990986,
 10073135,
 10086324,
 10082566,
 10082795,
 10083928,
 10083162,
 10084180,
 10080402,
 10048724,
 9909069,
 10000634,
 10083476,
 10084896,
 10086764,
 10082433,
 10083849,
 9968988,
 9957272,
 10010687,
 10086104,
 10084788,
 10082121,
 10085645,
 9973964,
 10086243,
 10090742,
 9943254,
 9926324,
 9998051,
 9926330,
 10083105,
 10086464,
 10082707,
 10083633,
 10083837,
 10082919,
 10082558,
 9928575,
 9946466,
 10061044,
 10061739,
 10084607,
 10082925,
 10084382,
 10082044,
 10082670,
 10086257,
 10082830,
 10083103,
 10022198,
 9927934,
 10027538,
 10063065,
 10061039,
 10010990,
 10083605,
 10082891,
 10083439,
 10086601,
 10086748,
 10084980,
 10084285,
 10086206,
 10085674,
 10086650,
 10086497]

In [57]:
#Here we are comparing the id of diamond with the dataset.

def search_id(id):   #In this section we are giving id as argument.
    if id in id_list:
        print("The entered id in the dataset")
        
    else:
        print("The entered id is incorrect ")
        
    if type(id) != int:
        print("You has entered the id in different format")
        print("so, enter the id in integer")

In [58]:
search_id(10048801)

The entered id in the dataset

In [59]:
search_id(3456789)

The entered id is incorrect

In [60]:
search_id("6776")

The entered id is incorrect
You has entered the id in different format
so, enter the id in integer